{% for contact in contacts %}
    <div class="w-100 p-2 m-1 contact-item rounded border-secondary bg-secondary bg-opacity-50 d-flex justify-content-between"
         data-contact-id="{{ contact.id }}"
         data-contact-email="{{ contact.email }}"
    >
       <span>{{ contact.email }} </span>
    </div>
{% endfor %}